* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    padding: 15px 15px 15px 0px;
}

header h1 {
    font-size: 48px;
    color:darkslategrey;
    background-color: #89cff0;
}

header nav ul {
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    color: #89cff0;
    font-size: 25px;
}

/* apply styles to hero */
.hero {
    background-image: url("../images/Cool-Background-Free.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    padding: 50px;
}

.hero h2 {
    background-color: #89cff0;
    color: darkslategray;
    align-items: flex-end;
    display: flex;
    text-align: right;
}

/* apply styles to about me section */
.about-me {
    padding: 40px;
    background-color:deeppink;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.about-me h2 {
    padding: 15px;
    text-align: right;
}

.about-me p {
    text-align: left;
    border-left: solid 2px black;
    display: inline-block;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
} 
/* apply styles to work section */
.work {
    display: flex;
    background-color: gold;
    flex-direction: row;
    justify-content: space-between;
}

.work h2 {
    text-align: right;
    padding: 15px;
}

.projects {
    text-align: left;
    border-left: solid 2px black;
    display: inline-block;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-links {
    border: solid 5px purple;
    position: relative;
    margin: 10px;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background-color: purple;
}

/* apply styles to contact me section */
.contact {
    padding: 40px;
    background-color:deeppink;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.contact h2 {
    padding: 15px;
    text-align: right;
}

.contact-links {
    border-left: solid 2px black;
    /* display: inline-block; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 
/* 
list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    align-items: center; */

/* resume section?? */